@import url(variables.css);

@font-face {
    font-family: "RobotoBlack";
    src: url(/storage/fonts/Roboto_Slab/static/RobotoSlab-Black.ttf);
}

html {
	scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Primera Section - Contact Us */

#first {
    width: 100vw;
    height: 100vh;
    background-image: url("/storage/img/placeYourImageHere0.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 15%;
    background-color: #17171ee9;
}

.left, .right {
    display: flex;
    gap: 50px;
    width: 500px;
    justify-content: center;
}

.left a:first-child {
    color: var(--color-primary)
}

header a {
    font-size: 20px;
    font-family: "RobotoBlack";
    color: var(--color-font);
    text-decoration: none;
}

header img {
    height: 90px;
}


.contactUs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85%;
    background-color: #17171ee9;
    gap: 100px;
}

.contactUs img {
    height: 700px;
}

.contactUs .right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    width: 900px;
    font-family: "RobotoBlack";
}

.contactUs .right h2 {
    color: var(--color-primary);
    font-size: 5em;
    width: 700px;
}

.contactUs .right p {
    font-family: "RobotoBlack";
    color: var(--color-font);
    font-size: 1.5em;
    width: 700px;
}

.contactUs .right button {
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    display: flex;
    background-color: var(--color-primary);
    justify-content: center;
    align-items: center;
    color: var(--color-font);
    width: 250px;
    height: 85px;
    margin-block: 10px;
}

.contactUs .right button p {
    font-size: 2.2em;
    color: var(--color-secundary);
}

/* Segunda Section - About Us */

#aboutUs {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secundary);
    width: 100vw;
    height: 900px;
}

.imagenAboutUs, .imagenAboutUs img {
    width: 800px;
    height: 700px;
    object-fit: cover;
}

#aboutUs .right {
    font-family: "RobotoBlack";
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
}

#aboutUs .right h2 {
    color: var(--color-font);
    font-size: 3.5em;
}

#aboutUs .right p {
    color: var(--color-font);
    font-size: 2em;
}

/* Tercera Section - Our Food Quality (pendiente) */

/* Cuarta Section - Our Food Gallery */